<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insomnias Hamburgueria</title>
    <style type="text/css">
    html,body{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        display: flex;    
        background-image: linear-gradient(180deg, #A65313, #ECAB2A);
        font-size: 1.5em;
        color:aliceblue;
        flex-direction: column;
    }
    span {
        font-weight: bold;
        text-align: center;
    }
    </style>
</head>
<body>
    <img src="https://video-public.canva.com/VAEU_efV-D8/v/fd8d904430.gif">
    <br/>
    <br/>
    <span>API Online</span>
    <br/>
    <span>Bem-vindos ao Insomnias Hamburgueria</span>
</body>
</html>